.DS_Store
~$*
*.tmp
JavaWorkshopProjectServer/target/
JavaWorkshopProjectServer/.idea/workspace.xml
*.iml
.gradle
JavaWorkshopProjectClient/local.properties
JavaWorkshopProjectClient/.idea/caches
JavaWorkshopProjectClient/.idea/libraries
JavaWorkshopProjectClient/.idea/modules.xml
JavaWorkshopProjectClient/.idea/workspace.xml
JavaWorkshopProjectClient/.idea/navEditor.xml
JavaWorkshopProjectClient/.idea/assetWizardSettings.xml
JavaWorkshopProjectClient/build
JavaWorkshopProjectClient/captures
.externalNativeBuild
.cxx
JavaWorkshopProjectClient/local.properties

/TESTEST/target/
